        .dialogs {
                dispaly: grid;
                grid-template-columns: 2fr 10fr;
        }

        .dialogsItem {
                padding: 10px;
        }

        .dialogsItem .active {
           color: gold;
        }

        .messages {
           padding: 10;
        }

        .messages .message {

        }