
.dialogs {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 30% 30%;
}

.dialogsItems {
    padding: 10px;
    color: white;
    }



 .dialog {
     color: red;                   /* неприсваивает почемуто */
     padding: 5px;
 }


.active {
  color: red;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;

}