
.header {
    grid-area: header;
    background-color: deepskyblue;
}

.header img {
    width: 100%;
    height: 350px;
    border-radius: 1px;
}

/*.header .imgHeader {*/
/*    width: 100%;*/
/*    height: 350px;*/
/*    border-radius: 1px;*/
/*}*/
                         /* ПОЧЕМУ ЗАКОМЕНТИРОВАННОЕ НЕ РАБОТАЕТ ???? */

