/*.imgClass {
    width: 30px;
    height: 30px;
    border-radius: 55px;
}*/




img {
    width: 30px;
    height: 30px;
    border-radius: 55px;
}

.descriptionBlock {
    padding: 10px;
}

.ProfileInfo {
    background-color: red;
}




